set default=0
set timeout=5

menuentry "NatalieOS Live" {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=%ARCHISO_LABEL% cow_spacesize=1G
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "NatalieOS Live (fallback initramfs)" {
    set gfxpayload=keep
    search --no-floppy --set=root --label %ARCHISO_LABEL%
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=%ARCHISO_LABEL% cow_spacesize=1G
    initrd /arch/boot/x86_64/initramfs-linux-fallback.img
}
